{% extends 'base.html' %}

{% block meta %}
<title>Create New Task</title>
{% endblock meta %}

{% block content %}
<h1>Create New Task</h1>
<br>
<form action="" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <label for="title">Title</label>
            </td>
            <td>
                <input type="text" name="title" class="form-control" placeholder="Enter task title">
            </td>
        </tr>
        <tr>
            <td>
                <label for="description">Description</label>
            </td>
            <td>
                <input type="text" name="description" class="form-control" placeholder="Enter task description">            
            </td>
        </tr>
        <tr>
            <td>
                <input value="Create" type="submit">
            </td>
        </tr>
    </table>
</form>

{% endblock content %}