{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    body {
        text-align: center;
    }

    h1,h2,h3,h4,h5,h6 {
        color: #395B64;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }

    p,td {
        color: #2C3333;
        font-family: Arial, Helvetica, sans-serif;
    }

    button {
        background-color: #2C3333;
        border: 2px solid #395B64;
        border-radius: 8px;
        color: #E7F6F2;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px;
        padding: 10px 50px;
        transition-duration: 0.4s;
    }
    button:hover {
        background-color: #E7F6F2;
        border: 2px solid #395B64;
        color: #2C3333;
    }
</style>

<div class = "login">

    <h1>To Do List Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Create Account</a>

</div>

{% endblock content %}