{% extends 'base.html' %}

{% block content %}
<h1>My Watch List</h1>
<table>
    <tr>
    <th>Title</th>
    <th>Watched</th>
    <th>Rating</th>
    <th>Release Date</th>
    <th>Review</th>
    </tr>
    {% comment %} Watchlist Data {% endcomment %}
    {% for movie in list_watchlist %}
        <tr>
            <td>{{movie.title}}</td>
            <td>{{movie.watched}}</td>
            <td>{{movie.rating}}</td>
            <td>{{movie.release_date}}</td>
            <td>{{movie.review}}</td>
        </tr>
    {% endfor %}

</table>

{% endblock content %}