{% extends 'base.html' %}

{% block content %}
<h1>Assignment 3 PBP</h1>

<h5>Name: {{name}}</h5>

<h5>Student ID: {{npm}}</h5>

{% if has_watched_a_lot %}
    <h3>Selamat, kamu sudah banyak menonton!</h3>
{% else %}
    <h3>Wah, kamu masih sedikit menonton!</h3>
{% endif %}


<h2>See My Watch List Here!</h2>
<a href="{% url 'mywatchlist:show_html' %}"><button>HTML</button></a>
<a href="{% url 'mywatchlist:show_xml' %}"><button>XML</button></a>
<a href="{% url 'mywatchlist:show_json' %}"><button>JSON</button></a>

{% endblock content %}