{% extends 'base.html' %}

{% block content %}
<h1>Assignment 3 PBP</h1>

<h5>Name: </h5>
<p>{{name}}</p>

<h5>Student ID: </h5>
<p>{{npm}}</p>

<table>
    <tr>
    <th>Title</th>
    <th>Watched</th>
    <th>Rating</th>
    <th>Release Date</th>
    <th>Review</th>
    </tr>
    {% comment %} Watchlist Data {% endcomment %}
    {% for movie in list_watchlist %}
        <tr>
            <th>{{movie.title}}</th>
            <th>{{movie.watched}}</th>
            <th>{{movie.rating}}</th>
            <th>{{movie.release_date}}</th>
            <th>{{movie.review}}</th>
        </tr>
    {% endfor %}

</table>

{% endblock content %}